<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="static/styles/main.css">
</head>
<body>
    <div class="jumbotron">
        <h1 class = "display-4" style="text-align: center;">Welcome to A-Z Household Services</h1>
    </div>
    <div>
        <img src="static/images/household-services-homepage.jpg" alt="Household Services Image" class="center">
        <p class="center" style="text-align: center;"><small style="font-size: xx-small;">Image Source: <i>https://essc-eu.org/bringing-household-services-out-of-the-shadows-formalising-non-care-work-in-and-around-the-house/</i></small></p>
    </div>
    <br>
    <div>
    <p class="center" style="margin-left: 100px;margin-right: 100px;">A-Z Household Services is one-stop shop for quality household services. Customeers can book the services online for variety 
        of servises at affordable price and our verified service professionals will be at your doorstep to meet your needs. So, please 
        go ahead and give us a chance to serve you! </p>
    </div>
    <br>
    <div style="border: 2px solid black; margin-left: 450px;margin-right: 450px;">
        <div class="center" style="text-align: center; margin-top: 20px;"> 
            Existing user/service professional? <a href="/login"><button type="button" class="btn btn-success" style="margin-left: 5px;">Login</button></a> 
        </div>
        <br>
        <br>
        <div class="center" style="text-align: center; margin-bottom: 20px;">
            New user? <a href="/signup"><button type="button" class="btn btn-primary" style="margin-right: 50px; margin-left: 5px;">Signup</button></a>
            New service professional? <a href="/register"><button type="button" class="btn btn-primary" style="margin-right: 50px; margin-left: 5px;">Register</button></a>
        </div>
    </div>
</body>
</html>