{%extends "customer_layout.html"%} <!--Inherited all nav features-->
{%block content%}
<br>
<div style="text-align: center;margin: auto;"><h3>Service Request Form for {{service.name}}</h3></div>
                <br><br>
                <form action="/customer/raise_sr/{{service.id}}/{{sp_id}}/{{uid}}/{{uname}}" method="POST">
                <div class="input_form" style="margin: auto; margin-top: 10px; height: 300px;">
                    <div class="mb-3">
                        <label for="name" class="form-label">Select Date and Time of Service</label>
                        <input type="datetime-local" class="form-control" name="date_of_schedule" id="date_of_schedule" placeholder="YYYY-MM-DD">
                    </div>
                    <div class="mb-3">
                        <label for="remarks" class="form-label">Remarks</label>
                        <input type="text" class="form-control" name="remarks" id="remarks" placeholder="I need {{service.name}} for ...">
                    </div> <br>
                    <div class="mb-3" style="text-align: center; margin-top: 10px;">
                        <button type="submit" class="btn btn-primary" style="text-align: center; margin: auto;">Raise Request</button>
                    </div>
                </div>
                </form>
                </div>


{%endblock%}