*{
    margin: 0px;
}

body{
    background-image: url("../images/background.jpeg");
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.my_container{
    border: 2px solid black;
    margin: auto;
}

.my_panel{
    width: 80%;
    margin: auto;
    height: 710px;
    border: 1px dashed black;
}

.input_form{
    border: 1px solid blue;
    width: 350px;
    height: 350px;
    margin: auto;
    margin-top: 100px;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    text-align: justify;
}

.err_msg{
    text-align: center;
    margin: auto;
    color: purple;
}